@font-face {
  font-family: 'TTLakes';
  src: url('./fonts/TTLakes-Medium.eot') format('embedded-opentype'),
  url('./fonts/TTLakes-Medium.woff') format('woff'),
  url('./fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('./fonts/TTLakes-Bold.eot') format('embedded-opentype'),
  url('./fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "TTLakes", sans-serif;
  margin: 0;
  min-height: 663px;
}

.container {
  position: absolute;
  height: 100%;
  min-height: 662px;
  left: 0;
  width: 320px;
  margin-left: 24px;
  box-shadow: 25px 0 40px -40px black;
}

.header,
.footer-Buttons {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5px;
}

.menu__item:hover{
  background-color: lightslategray;
  transform: scale(1.04);
  transition-duration: 0.15s;
  cursor: pointer;
}

.menu__item_active::before {
  position: absolute;
  left: -24px;
  top: 114px;
  content: url("assets/images/highlight.svg");
}

.header__button:hover,
.footer-Buttons__button:hover {
  transform: scale(1.04);
  transition-duration: 0.4s;
  opacity: 60%;
  cursor: pointer;
}

.header {
  margin-top: 18px;
}

.header__main-Page {
  margin-right: 78px;
}

.header__hide {
  margin-right: 16px;
  padding: 0;
}

.header__button,
.footer-Buttons__button,
.footer__lang__button {
  background-color: inherit;
  border: none;
}

.menu__list {
  margin-top: 48px;
  padding-left: 0;
}

.menu__item {
  list-style: none;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 220px;
}

.menu__item a{
  text-decoration: none;
  color: black;
}

.menu__item_active a {
  color: #7E7E82;
}

.menu__item a:hover{
  color: white;
}

.footer-Buttons {
  margin-top: auto;
  margin-bottom: 16px;
}

.footer-Buttons__button {
  margin-right: 16px;
  padding: 0;
}

.footer__mail {
  font-family: "TTLakes", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  padding: 0;
  margin-bottom: 12px;
  margin-top: 0;
  text-decoration: none;
  cursor: pointer;
}

.footer__phone-number {
  font-weight: bold;
  font-size: 24px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: none;
  color: black;
}

.footer__lang__button {
  font-weight: normal;
  padding: 0;
  margin-bottom: 32px;
  margin-top: 40px;
  width: 20px;
  height: 20px;
}

.footer__mail:hover,
.footer__phone-number:hover {
  background-color: #499ce1;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.04);
  transition-duration: 0.15s;
  cursor: pointer;
}

.footer__lang__button:hover {
  background-color: #f5f0f0;
  cursor: pointer;
}

.footer__lang__button_active {
  color: #7E7E82;
}
